<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../../assets/index.css">
  <title>在宅ケアドットコム</title>
</head>

<body>
<div class="application-wrap">
  <header class="header">
    <!-- タイトル兼トップに戻るリンクゾーン -->
    <div class="header-bar">
      <div class="header-bar-content">
        <div class="header-bar-content-main">
          <div class="d-flex">
            <div class="image-logo">
              <a href="/">
                <%= image_tag "home-care-navi-logo", alt: "home-care-navi-logo", id: "assets", class: "image" %>
              </a>
            </div>
            <div class="space">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ハンバーガーメニューボタン -->
    <button type="button" class="header_btn">三</button>
  </header>

  <main class="main">
    <div class="main-wrap">
    </div>
  </main>

  <footer class="footer">
    <div class="footer-container">
      <div class="footer-center">
        <span class="text-subtittle">
          ホームケアナビ
        </span>
      </div>
      <div class="d-flex-text">
      </div>
    </div>
  </footer>



</div>





</body>
